mixin breadcrumbs( bem, page )

	- var data = global.blocks.breadcrumbs[ page ? page : 'demo' ];

	+b( 'breadcrumbs', bem, 'ol' )(

		itemscope=schema
		itemtype=schema ? 'http://schema.org/BreadcrumbList' : false

	)&attributes(attributes)

		if Array.isArray( data ) && data.length > 0

			each val, index in data

				if ( data.length - 1 ) > index

					+e( 'item' )(
						itemscope=schema
						itemtype=schema ? 'http://schema.org/ListItem' : false
						itemprop=schema ? 'itemListElement' : false
					)

						+b( 'link', {e: '&', m: val.mod ? val.mod : 0} )(
							href=val.href ? val.href : false
							itemscope=schema
							itemtype=schema ? 'http://schema.org/Thing' : false
							itemprop=schema ? 'item' : false
						)

							if schema
								span(itemprop='name')= val.name
							else
								= val.name

						if schema
							meta(itemprop='position' content=(index+1))

				else

					+e( 'item' )= val.name

		block
