mixin social( data )

	.social&attributes(attributes)

		if Array.isArray( data ) && data.length > 0
			each item in data

				a(href=item.href, class=item.icon && `social__link_${item.icon}`).link.social__link

					if item.icon
						svg(viewBox='0 0 16 16').icon.social__icon
							use(xlink:href=`#social__${item.icon}`)
					else
						if item.name
							span.social__name= item.name

		block
