mixin nav( data )

	nav.nav(
		itemscope=schema
		itemtype=schema ? 'http://schema.org/SiteNavigationElement' : false
	)&attributes(attributes)

		if Array.isArray( data ) && data.length > 0
			ul.nav__items
				each value in data
					li.nav__item
						a.link.nav__link(href=value.href, itemprop= value.href && schema ? 'url' : false)
							if value.href && schema
								span(itemprop='name')= value.text || ''
							else
								= value.text || ''

						if Array.isArray( value.sub ) && value.sub.length > 0
							ul.nav__sub-items
								each val in value.sub
									li.nav__sub-item
										a.link.nav__sub-link(href=val.href, itemprop= val.href && schema ? 'url' : false)
											if val.href && schema
												span(itemprop='name')= val.text || ''
											else
												= val.text || ''

		block
