mixin pagination( bem )

	+b( 'pagination', bem, 'nav' )(
		itemscope=schema
		itemtype=schema ? 'http://schema.org/SiteNavigationElement/Pagination' : false
	)&attributes(attributes)

		+e( 'items' )

			each val in [1,2,3,4,5,6,7]

				+b( 'link', {e: `&:item|${val === 3 ? 'active' : ''}`} )(
					itemprop=schema ? 'url' : false
					href= (val === 3) ? '#' : false
				)
					if schema
						span(itemprop='name')= val
					else
						= val

			block
